$black: rgb(0,0,0);
$light-black: #444;
$black-404: #222;
$light-blue: #62aef7;
$medium-blue: #3390e9;
$filter-bar-blue: #d9f0f9;
$dark-filter-bar-blue: #cce7f1;
$blue: #0074e4;
$dark-blue: #151969;
$white: #fff;
$opaque-light-blue: rgba(0,116,228,.5);
$opaque-black: rgba(0,0,0,0.5);
$opaque-black-dark: rgba(0,0,0,0.7);
$opaque-white: rgba(255,255,255,0.8);
$opaque-blue: rgba(0,116,228,.75);
$footer-gray: #aaa;
$medium-gray: #bbb;
$light-gray: #eee;
$gray: #555;
$font: Verdana, sans-serif;
$purple: #a357de;
$yellow: #fce013;
$red: #fc384a;
$light-red: #fae6e6;
$lightest-red: #fdf5f5;
$orange: #ff7800;