.links {
  background-color: $light-gray;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 30px;
  padding-bottom: 24px;
  color: $light-black;
  display: flex;

  div {
    width: 25%;
    min-width: 195px;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
  }

  li {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
  }

  li:hover {
    color: $blue;
  }

  li:last-child {
    color: $blue;
  }
}
